// ------------------ //
// colors
// ------------------ //

// text
$text-primary: hsl(0, 0%, 93%);
$text-secondary: hsl(0, 0%, 69%);
$text-tertiary: hsl(0, 0%, 53%);

// background
$background-2: hsl(0, 0%, 13%);
$background: hsl(0, 0%, 11%);

// ------------------ //
// typography
// ------------------ //

// family
$ff-manrope: "Manrope", sans-serif;

// weights
$fw-regular: 300;
$fw-medium: 600;
$fw-bold: 700;

// sizes
$fs-200: 0.9rem;
$fs-300: 1rem;
$fs-400: 1.2rem;
$fs-500: 1.4rem;
$fs-600: 1.8rem;
$fs-700: 2.5rem;
