// ------------------ //
// colors
// ------------------ //

$text-primary: hsl(0, 0%, 100%);
$text-secondary: hsl(0, 0%, 45%);
$text-tertiary: hsl(0, 0%, 22%);

$eerie-black: hsl(0, 0%, 8%);
$eerie-black-2: hsl(0, 0%, 11%);
$dim-gray: hsl(0, 0%, 40%);
$onyx: hsl(0, 0%, 24%);

// ------------------ //
// typography
// ------------------ //

// family
$ff-manrope: "Manrope", sans-serif;

// weights
$fw-regular: 300;
$fw-medium: 500;
$fw-bold: 700;

// sizes
$fs-200: 0.9rem;
$fs-300: 1rem;
$fs-400: 1.2rem;
$fs-500: 1.4rem;
$fs-600: 1.8rem;
$fs-700: 2.5rem;
