@use 'variables' as *;
@use 'mixins' as *;


.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 30px;
  // margin-block: auto 0;

  &--time{
    font-weight: $fw-bold;
    font-size: $fs-200;
    transform-origin: left;

    div{
      display: flex;
      align-items: center;
      gap: 10px;

      .dash{
        display: inline-block;
        width: 10px;
        height: 2px;
        background: $text-primary;
      }
    }
  }

  &--location{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: right;

    .location{
      font-weight: $fw-bold;
      font-size: $fs-200;
    }

    .change-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 89px;
      height: 30px;
      font-weight: $fw-bold;
      font-size: $fs-200;
      color: $text-primary;
      padding: 3px 15px;
      background: transparent;
      border: 2px solid $text-primary;
      border-radius: 5px;
      margin-top: 7px;
      transition: 0.3s;
      cursor: pointer;

      .loader{
        width: 15px;
        height: 15px;
        border-top: 2px solid $text-primary;
        border-radius: 50%;
        animation: rotate 0.5s infinite linear;
      }

      &:hover{
        color: darken($color: $text-primary, $amount: 30%);
        border-color: darken($color: $text-primary, $amount: 30%);
      }
    }

    &-change{
      position: absolute;
      z-index: 4;
      top: -60px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 15px 20px;
      background: $text-tertiary;
      border-radius: 10px;
      transform: scale(0);
      transition: 0.3s;

      &.show{
        top: -160px;
        transform: scale(1);
      }

      .track-btn{
        width: 100%;
        font-weight: $fw-bold;
        color: $text-primary;
        padding: 4px 15px;
        background: transparent;
        border: 2px solid $text-primary;
        border-radius: 5px;
        cursor: pointer;
      }

      span{
        font-size: $fs-400;
      }

      .location-input{
        font-weight: $fw-medium;
        font-size: $fs-200;
        color: $text-primary;
        padding: 5px 10px;
        background: transparent;
        border: 2px solid $text-primary;
        border-radius: 5px;
        outline: 0;

        &:focus{
          border-color: $text-secondary;
        }

        &::placeholder{
          color: $text-secondary;
        }
      }
    }
  }

  @include media-md() {
    padding: 60px;

    &--time{
      font-size: $fs-300;
    }

    &--location{
      flex-direction: row;

      .location{
        font-size: $fs-300;
      }

      .change-btn{
        width: 105px;
        height: 37px;
        font-size: $fs-300;
        padding: 5px 20px 6px;
        margin: 0 0 0 10px;
      }
    }
  }
}


@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}