@use "variables" as *;
@use "mixins" as *;

.error-wrapper {
  position: fixed;
  z-index: 100;
  inset: 0;
  background: transparent;
  transition: 0.5s;
}

.error {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  padding: 40px;
  background: $background-2;
  border: 2px solid lighten($color: $background-2, $amount: 10%);
  border-radius: 1.25rem;
  box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.3);
  transition: 0.3s;

  @include media-lg() {
    padding: 40px 100px;
  }

  .error-svg {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  p {
    margin-block: 10px 20px;
  }

  .retry-btn {
    font-weight: $fw-bold;
    color: $text-primary;
    padding: 7px 30px;
    background: transparent;
    border: 2px solid $text-primary;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:focus,
    &:hover {
      color: $text-secondary;
      border-color: $text-secondary;
    }
  }

  @include media-sm() {
    width: 460px;
  }
}

.error-wrapper.hidden,
.error.hidden {
  visibility: hidden;
  opacity: 0;
}
