@use "variables" as *;
@use "mixins" as *;

.forecast-card,
.other-locations--locations-card {
  padding: 20px;
  border: 2px solid lighten($color: $background-2, $amount: 5%);
  border-radius: 10px;

  &--header {
    display: flex;
    justify-content: space-between;

    .day-condition {
      p {
        font-size: $fs-400;
        font-weight: $fw-bold;
        margin-bottom: 5px;
      }

      span {
        color: lighten($color: $text-tertiary, $amount: 20%);
        font-weight: $fw-bold;
      }
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .forecast-details,
    .weather-details {
      div {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        color: $text-secondary;
        font-weight: $fw-medium;
        cursor: default;

        &:first-child {
          gap: 10px;
        }

        img {
          filter: invert(1);
        }

        &:first-child {
          margin-bottom: 5px;
        }

        span {
          color: $text-primary;
          font-weight: $fw-bold;
        }

        .tooltip {
          position: absolute;
          z-index: 100;
          bottom: -42px;
          transform: translateX(-10%);
          display: flex;
          justify-content: center;
          width: 120px;
          color: $text-primary;
          padding: 10px 20px;
          background: lighten($color: $background-2, $amount: 15%);
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;

          &::before {
            content: "";
            position: absolute;
            top: -55%;
            left: 50%;
            transform: translateX(-50%);
            border: 10px solid transparent;
            border-bottom-color: lighten($color: $background-2, $amount: 15%);
          }
        }

        &:hover {
          .tooltip {
            visibility: visible;
            opacity: 1;
          }
        }

        &:last-child {
          .tooltip {
            transform: translateX(-18%);
            width: 140px;
          }
        }
      }
    }

    .forecast-temp {
      margin-top: 20px;
      display: flex;
      align-items: center;

      span {
        &:first-child,
        &:last-child {
          font-size: $fs-500;
          font-weight: $fw-bold;
        }

        &:nth-child(2) {
          color: $text-secondary;
          margin-inline: 8px;
        }
      }
    }
  }

  @include media-md() {
    &--body {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      .forecast-temp {
        margin-top: 0;
        padding-bottom: 4px;
      }
    }
  }
}

.forecast-card .icon {
  img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin: -5px -23px 0 0;
  }
}
