@use "variables" as *;
@use "mixins" as *;

.other-details-menu {
  position: fixed;
  z-index: 3;
  height: 100vh;
  right: 0;
  width: 80%;
  background-color: $background-2;
  transform: translateX(2000px);
  transition: 1s;

  &.active {
    transform: translateX(0);
  }

  &--close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);

    .close-btn {
      display: grid;
      place-items: center;
      padding: 5px;
      background: transparent;
      border: 0;
      border-radius: 5px;
      transform: scale(0.8);
    }
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);

    &--city-name {
      display: flex;
      gap: 10px;

      span {
        &:first-child {
          font-weight: $fw-bold;
          color: lighten($color: $text-tertiary, $amount: 10%);
          font-size: $fs-200;
        }

        &:last-child {
          font-weight: $fw-bold;
        }
      }
    }

    &--unit-change {
      display: flex;
      align-items: center;

      button {
        font-weight: $fw-medium;
        color: $text-primary;
        padding: 0 15px;
        background: transparent;
        border: 0;
        cursor: pointer;

        &.celsius-btn {
          padding-left: 0;
          border-right: 1px solid $text-secondary;
        }

        &.fahrenheit-btn {
          padding-right: 0;
          border-left: 1px solid $text-secondary;
        }

        &.unselected {
          color: $text-secondary;
        }
      }
    }
  }

  &--weather-details,
  &--forecast {
    padding: 40px 25px;
    border-bottom: 2px solid lighten($color: $background-2, $amount: 5%);
  }

  @include media-md() {
    width: 400px;
  }

  @include media-lg() {
    position: initial;
    width: 25%;
    transform: translateX(0);
    animation: come-out 1.25s;
    border-radius: 35px 0 0 35px;

    &--close {
      display: none;
    }

    &--header {
      padding: 30px 30px 25px;
    }

    &--weather-details,
    &--forecast {
      padding: 50px 35px;
    }
  }

  @include media-xl() {
    width: 22%;
  }
}

@keyframes come-out {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
